body{
    background-color: #efefef;
}
.main{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #ffffff;
}

.btn-publish{
    margin-top: 20px;
    margin-bottom: 15px;
    float: right;
}

